

._contein {
	max-width: 1280px;
	margin: 0 auto;
}

button,
select {
	text-align: left;
	text-transform: none;
}

input:disabled {
	background-color: rgba(207, 207, 207, 0.603);
}

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: white;
	font: inherit;
	/* По дефолту, шрифтовые свойства, для этих элементов не наследуются */
	color: inherit;
	letter-spacing: inherit;

}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	/* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
	cursor: pointer;
}

.flex {
	display: flex;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	text-decoration: none;
}

a {
	text-decoration: none;
	display: inline-block;
	/* color: black; */
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


*::-webkit-scrollbar {
	width: 10px;

}

*::-webkit-scrollbar-track {
	background: white;
}

*::-webkit-scrollbar-thumb {
	background-color: black;
}

ul[class],
ol[class] {
	list-style: none;
}

.pading {
	padding: 40px 0px;
}